#page-nav, #prev-postings, #next-postings {
	float: left;
	vertical-align: middle;
}

#prev-postings, #next-postings {
	background-image: url("../images/arrow-left.png");
	background-position: 50px center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-top: 7px;
	padding: 0 15px;
	height: 18px;
}

#prev-postings {
	background-image: url('../images/arrow-right.png');
	background-position: 0 center;
}

#page-nav {
	margin: 10px 20px;
}

#page-nav a {
	text-decoration: none;
}

#page-nav a.selected, #page-nav a.hover {
	text-decoration: underline;
}

#posting-nav-container, #posting-nav {
	width: 646px;
	margin: 0 auto;
}

#posting-nav-container {
	margin-top: 0px;
}

#posting-nav {
	/*visibility: hidden;*/
}

#next-postings {
	float: right;
}

.page-nav-link {
	cursor: pointer;
}