@charset "utf-8";
/* CSS Document */

.dialog  {
	display: none;
	background-color: #fff;
	border: 2px solid #fff;
}
.dialog > div {
	background-color: #C4B7E6;
	width: 100%;
	color: #fff;
}

.dialog  {
	display: none;
	background-color: #fff;
	border: 2px solid #fff;
}
.dialog > div {
	background-color: #C4B7E6;
	width: 100%;
	color: #fff;
}