@charset "utf-8";

/* CSS Document */



.SmoothDropdown, .SmoothDropdown-table {

	width: 282px;

	background: #fff;

	border: 1px solid #3D3D3D;

}



.SmoothDropdown {

	cursor: pointer;

	/*height: 37px;*/

	/*width: 401px;*/

	margin-bottom: 16px;

	margin-top: 8px;

	height: 34px;

}



.SmoothDropdown-image {

	/*z-index: -1;*/

	background: url('/app/Plugins/SmoothDropdown/images/arrow.png') no-repeat top center;

	width: 28px;

	height: 28px;

	position: absolute;

	top: 3px;

	right: 10px;

}



.SmoothDropdown-table {

	display: none;

	background-color: #fff;

	position: absolute;

	top: 35px;

	left: 0;

}



.SmoothDropdown-placeholder, .SmoothDropdown-table td {

	cursor: pointer;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	padding: 6.5px 10px;

	font-style: normal;

}



.SmoothDropdown-placeholder {

	border: 0 none;

	left: 10px;

	padding: 0;

	position: absolute;

	top: 6px;

	width: 80%;

	overflow: hidden;

}





.SmoothDropdown-table thead td {

	/*color: #fff;*/

	/*background-color: #3D3D3D;*/

}



.SmoothDropdown-table tbody td:hover {

	color: #fff;

	background-color: #3D3D3D;

}



