@charset "utf-8";
/* CSS Document */

.dialog {
	display: none;
	/*border-bottom: 7px solid #DD1E2F;*/
	background-color: #717174;

}

.dialog .heading {
	background-color: #717174;
	text-align: center;
}
.dialog .heading h3 {
	padding-top: 0.60em;
	color: #fff;
}

.dialog .content {
	clear: both;
	padding: 0 20px 10px 20px;
}

.dialog .options .button {
	float: right;
	margin-left: 20px;
}

.dialog .options {
	clear: both;
	padding: 0 20px;
}

.dialog .close {
	position: absolute;
	width: 45px;
	height: 44px;
	cursor: pointer;
	z-index: 9999;
}

.dialog textarea {
	width: 589px;
	margin-top: 0;
}

.dialog .please-note {
	color: #fff;
}

#error-dialog {
	width: 400px;
	color: #fff;
	text-align: center;
	
}

#error-dialog .options {
	padding:  0 123px;
}