@charset "utf-8";
/* CSS Document */

@import url('fcbkcomplete.css');

.blog-posting, .comment-form, .comment-posting {
	border-bottom: 1px solid #2f1c11;
	margin-bottom: 30px;
	padding-bottom: 30px;
	width: 525px;
}

.comment-posting {
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.read-more {
	font-weight: bold;
	text-decoration: none;
}

.comment-block {
	margin-bottom: 30px;
}

.comment-block h1 {
	color: #fff;
	background-color: #66432B;
	padding-left: 10px;
	width: 515px;
}

#comment-submit, #comment-clear {
	cursor: pointer;
}

.blog-button {
	background-color: #2f1c11;
	padding: 0px 10px;
	width: 145px;
}

.blog-button a {
	width: inherit;
	line-height: 35px;
	font-size: 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
}

blockquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #866d5e;
	font-style: italic;
	font-size: 15px;
	line-height: 24px;
	padding-left: 15px;
}

.blog-posting p {
	margin: 20px 0px;
	font-family: Verdana, Geneva, sans-serif;
}

.input-entry {
	color: #4E2F1E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	padding: 5px 5px 5px 5px;
	width: 200px;
	margin-right: 10px;
	margin-bottom: 15px;
}

textarea.input-entry {
	width: 425px;
}

select, option {
	padding: 0;
}

option {
	border: none;
	/*
	color: #fff;
	*/
}

.blocktext {
	line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
}