/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	BILLBOARD Tags
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#billboard-container {
	z-index: 999;
	height: 430px;
	background-image: url('/app/Templates/images/background_billboardRepeater.jpg');
	background-repeat: repeat-x;
	background-position: 0 26px;
	width: 100%;

}

#billboard {
	margin: 0 auto;
	height: 407px;
	width: 1005px;
}

#billboard-inside {
	height: 407px;
	/*width: 712px;*/
	width: 100%;
	padding-left: 19px;
	padding-right: 19px;
	background: url('/app/Templates/images/header/billoboard-background.png') no-repeat;
	position: relative;
}


.Slidegal, .Slidegal > div {
	background: url('/app/Templates/images/header/billoboard-background.png') no-repeat;
}

.billboard-content-container {
	position: absolute;
	left: 670px;
	top: 70px;
	width: 287px;
	height: 226px;
	background-color: #717174;
	display: table;
	padding-left: 15px;
}


.billboard-content {
	display: table-cell;
	vertical-align: middle;
}

.billboard-title, .billboard-copy, .billboard-copy p {
	font-family: 'chaparral-pro', Georgia, "Times New Roman", Times, serif;
	color: #fff;
}

.billboard-title {
	font-size: 25px;
	line-height: 1em;
	/*margin: 15px 0 0 15px;*/
	width: 248px;
	margin-top:0 !important;
}

.billboard-copy {
	/*margin: 15px 0 0 15px;*/
	margin-top: 15px;
	width: 255px;;
}

.billboard-copy, .billboard-copy p {
	font-size: 16px;
	line-height: 19px;
}

.billboard-copy p {
	margin: 0;
}

.billboard-button {
	background: #FFF;
	bottom: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	width: 165px;
	cursor: pointer;
}

.billboard-button a:hover {
	text-decoration: none;
}

.contact {
}

.contact.billboard-content-container {
	height: auto;
	padding: 20px 0;
	top:35px;
}

.contact.billboard-content-container .billboard-copy {
width: 100%;
}

.contact .billboard-title, .contact .billboard-copy.bottom {
	padding-left:20px;
}

.contact .location-wrap {
	position:relative;
	padding: 20px;
	padding-top: 17px;
	padding-bottom:17px;
}

.contact .location-wrap:hover {
	background: #5e0c00;
	cursor:pointer;
}

.contact .location-wrap.selected {
	background: #5e0c00;
}

.contact .location-wrap:hover .left-arrow, .contact .location-wrap.selected .left-arrow {
	display:block;
}

.contact .left-arrow {
	display:none;
	background: url('/app/Templates/images/location-left-arrow') no-repeat;
	width: 21px;
	height: 71px;
	position:absolute;
	left: -21px;
	top:0;
}

.contact .link-url {
	display: none;
}

.contact .full-address {
	display:none;
}

#billboard-inside .map-box-container {
	width: 710px;
	height: 405px;
	border: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
