/*----------------------------------------------------------------------------------------------------------------------------------------------------------------

	CONTENT Tags

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

p {

	line-height: 1.6em;

}

#content-container {

	z-index: 999;

	margin-bottom: 125px;

}

.content-container * {

	/*	z-index: 3;*/

}

#content {

	height: 100%;

	z-index: 999;

	/*	z-index: 3;*/

	/*min-height: 500px;*/

	/*	padding-bottom: 20px;*/

}

#content-container:after {

	/* forces the content-container div to stretch with floating content (FF fix) */

	content: ".";

	display: block;

	height: 0;

	clear: both;

	visibility: hidden;

}

#contentLeft-container {

	float: left;

	width: 605px;

	margin-top: 20px;

	/*margin-bottom:110px;*/

}

.contentLeft-container {

	/*	z-index: 4;*/

}

.float-box-left, .float-box-right {

	width: 285px;

	vertical-align: top;

}

.float-box-left {

	float: left;

	clear: both;

}

.float-box-right {

	float: right;

}

#contentLeft {

	width: 605px;

	margin: 0 auto;

	float: left;

	margin-left: 36px;

}

/*#contentLeft a, #contentRight a {

	font-size: 11px;

}*/

#content-container table p {

	margin-bottom: inherit;

}

.content-container table, .content-container th, .content-container td, .content-container caption {

	padding: 0;

}

#contentLeft h3 a {

	font-size: 12px;

	font-family: Verdana, Geneva, sans-serif;

	font-weight: bold;

	text-decoration: underline;

}

#contentRight-container {

	float: right;

	margin-right: 18px;

	width: 286px;

	margin-top: 20px;

}

#contentRight {

	margin: 0 auto;

	width: 290px;

	/*	margin-top: 20px;*/

}

.contentRight .content-section {

	padding: 0 3px 20px;

	margin-bottom: 0;

	/*background: url(/app/Templates/images/content-right-bg.jpg) bottom left repeat-x;*/

	/*border-bottom: 9px solid #8b0b04;*/

}

#contentRight .content-section h3 {

	font: 18px 'chaparral-pro', Georgia, "Times New Roman", Times, serif;

	line-height: 1.3em;

}

#contentRight .content-section h3 a {

	font: 18px 'chaparral-pro', Georgia, "Times New Roman", Times, serif;

	line-height: 1.3em;

	text-decoration: underline;

}

.content-section {

	margin-bottom: 40px;

	/*	z-index: 4;*/

}

/* ======== LINE STYLES ======== */

.content-heading {

	line-height: 1em;

	font-family: 'chaparral-pro', Georgia, "Times New Roman", Times, serif;

	font-size: 2em;

}

.cap {

	text-transform: uppercase;

}

.big {

	font-size: 1.3em;

}

.red {

	color: #8b0b04;

}

.clearfix {

	clear: both;

}

.content-section  a {

	text-decoration: underline;

}

.content-section p strong a {

	color: inherit;

	font-weight: bold;

	font-size: 11px;

}

.content-section p strong a:hover {

	color: #8b0b04;

}

.content-section table a {

	font-weight: normal;

}

.vertical-link-list {

	list-style-type: none;

	margin-left: 0;

}

.vertical-link-list li a {

	font-weight: normal;

}

.vertical-link-list li {

	list-style: none;

}

/* ******** INSURANCE TEMPLATE ********* */

#insurances-container {

	position: absolute;

	top: -88px;

	width: 976px;

	height: 143px;

	z-index: 4;

}

#insurances-container div {

	float: right;

	/*	width:287px;*/

	height: 143px;

	padding-left: 34px;

	position: relative;

}

#insurance-mini-menu {

	width: 124px;

	height: 34px;

}

#insurance-mini-menu {

	position: absolute;

	top: 0;

	left: 20px;

}

#insurance-mini-menu img {

	float: right;

	width: 23px;

	height: 23px;

	padding: 4px 6px 6px 6px;

	cursor: pointer;

}

/* *********** INDIVIDUAL PAGE COLOR SCHEMES ************* */

#personal_home h2.content-heading, #personal_home p a, #personal_home li a:hover, #personal_home li a:focus, #personal_home h3 a:hover, #personal_home h3 a:focus {

	color: #8c0c04;

}

#commercial_home h2.content-heading, #commercial_home p a, #commercial_home li a:hover, #commercial_home li a:focus {

	color: #d05f14;

}

#fincancial_home h2.content-heading, #fincancial_home p a, #fincancial_home li a:hover, #fincancial_home li a:focus {

	color: #003479;

}

#personal_home #insurance-mini-menu {

	background-color: #8c0c04;

}

#commercial_home #insurance-mini-menu {

	background-color: #d05f14;

}

#fincancial_home #insurance-mini-menu {

	background-color: #003479;

}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.float-image-left {

	clear: both;

	float: left;

	margin-top: 10px;

	margin-right: 20px;

	margin-bottom: 40px;

}

/* FILTER CSS */
.radio-filter-container{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    border-bottom: 1px solid #ccc;
    height: 35px;
}
.radio-filter-container li{
    display:inline;
    overflow:hidden;
    position:relative;
}
.radio-filter-container li label{
    padding: 10px 10px 10px 30px;
    font-size:18px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-right:20px;
    border-bottom:5px solid #fff;
    color: #ababab;
    font-weight: normal !important;
    font-family: serif !important;
}
.radio-filter-container li:hover label,.radio-filter-container li.radio-filter-selected label{
    border-bottom-color:#ccc;
}
.radio-filter-container li *{
    cursor:pointer;
}
.radio-filter-container li:last-child{
    margin-right:0;
}
.radio-filter-container li input[type='radio']{
    position:absolute;
    left:-9999px;
    margin:0 !important;
    padding: 0 !important;
    width: auto !important;
}
.radio-filter-container label[for*='radio-all'],.category-icon-all{
    background-image:url('/app/Templates/images/show-all.png');
}
.radio-filter-container label[for*='radio-personal'],.category-icon-personal{
    background-image:url('/app/Templates/images/show-personal.png');
}
.radio-filter-container label[for*='radio-commercial'],.category-icon-commercial{
    background-image:url('/app/Templates/images/show-commercial.png');
}
.radio-filter-container label[for*='radio-financial'],.category-icon-financial{
    background-image:url('/app/Templates/images/show-financial.png');
}
.category-filter-item{
    border-bottom:1px solid #ccc;
    padding-top:20px;
    padding-bottom:20px;
}
.category-filter-item:first-child{
    padding-top:0;
}
.category-filter-item h2 a{
    font-size: 24px;
    text-decoration: none;
}
.category-filter-item .blog-button{
    font-weight: bold;
    font-size: 16px !important;
    text-transform: uppercase;
    margin-top:10px;
}
.blog-posting-category-listing{
    padding:0;
    margin:0 0 7px 0;
    list-style-type:none;
}
.blog-posting-category-listing li {
    margin-right:0px;
    display:inline-block;
}
.blog-posting-category-listing li:nth-last-child(2),.blog-posting-category-listing li:last-child {
    margin-right:0;
}
.category-icon{
    background-position: left center;
    background-repeat: no-repeat;
}
span.category-icon{
    display:block;
    height:24px;
    width:24px;
}
li.category-icon{
    padding-left:24px;
    line-height:24px;
}
li.category-icon span{
    text-indent:-999px;
}
.blog-posting-category-listing li, .blog-posting-category-listing li span, li.category-icon,li.category-icon span{
    color:#ababab;
}
.blog-posting h1{
    display:block !important;
    color:#000;
    font-size:2.5em;
    margin-bottom:0.2em;
}
.blog-posting .this_content,
.blog-posting .intro_content{
    margin-top:25px;
}
.bottom-border{
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.back-to-blog{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}
.autoscroll-loading-more{
    width:100%;
    font-size:18px;
    color:#ccc;
    text-align: center;
    padding: 10px 0;
    font-family: serif;
    font-weight: normal;
}