/*----------------------------------------------------------------------------------------------------------------------------------------------------------------

	FOOTER Tags

----------------------------------------------------------------------------------------------------------------------------------------------------------------*/



#footer a.rc-link {

	color: #fff;

}



#footer-container, #footer-container * {

	z-index: 4;

}



#footer-container {

	z-index: 99;

	background: url(/app/Templates/images/footer-container-bg.jpg) left bottom repeat-x;

	width: 100%;

}



#footer {

  background: url("/app/Templates/images/footer-bg.jpg") repeat-x scroll left top #666666;

  border-left: 18px solid #FFFFFF;

  border-right: 18px solid #FFFFFF;

  color: #FFFFFF;

  height: 356px;

  margin: 0 auto;

  padding: 24px 20px 40px;

  width: 930px;

}



#copyright-container {

	margin-left: 35px;

	margin-top: 20px;

}



#rc-logo {

	left: 141px;

	position: absolute;

	top: -1px;

}



#copyright {

	color: #fff;

	margin-top: 28px;

	position: absolute;

	width: 710px;

	margin-left: 10px;

}



#copyright img {

	vertical-align: middle;

}



#back-to-top {

	left: 805px;

	position: absolute;

	top: -23px;

	width: 122px;

	z-index: 5;

}



/*****************

	FOOTER MENU

*****************/



#footer-menu {

	float: left;

	margin-top: 40px;

	/*margin-left: 14px;*/

}



#footer-menu a,  {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 12px;

	color: #fff;

	text-transform: capitalize;

	text-decoration: none;

	line-height: 25px;

	/*padding-left: 14px;*/

}



#footer-menu .menu1 {

	margin-right: 15px;

}



#footer-menu a:hover, #footer-menu a:focus, .footer-selected {

	text-decoration: underline;

}



#footer-menu .menu1 a, #footer-menu .menu1 a:hover, #footer-menu .menu1 a:focus {

	color: #fff;

	border-bottom: none;

}



#footer img {

	margin-bottom: 30px;

	margin-top: 6px;

}



#footer img.soc-med-icon {

	padding-right: 6px;

	margin-bottom: 0px;

}



.footer-copy-section a {

	color: #fff;

	z-index: 999;

	cursor: pointer;

	text-decoration: underline;

}

.footer-logo-background {
    background-image: url("../../images/bk-logo-white-footer.png");
    width: 234px;
    height: 53px;
    min-width: 200px; 
    margin-bottom: 30px;
}



.footer-copy-section {

	width: 275px;

	float: left;

	margin-left: 14px;

}



a.back2top {

	display: block;

	position: absolute;

	right: 40px;

	top: 10px;

}



#footer-tag {

	background-color: #fff;

	position: absolute;

	right: 0px;

	bottom: 40px;

	font: 22px 'chaparral-pro', Georgia, "Times New Roman", Times, serif;

	color: #3d3d3d;

	padding: 5px 10px 8px 10px;

	font-style: italic;

}



#footer-sub-menu {

	float: left;

	/*margin-left: 14px;*/

	margin-top: 25px;



}



.sub-box {

	margin: 0 35px 0 0;

	float: left;

}



.sub-box .menu-container {

	float: none;

	margin: 10px 0;

}





#footer-sub-menu a {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 12px;

	color: #fff;

	text-decoration: none;



}



#footer-sub-menu a:hover {

	color: #fff;

	text-decoration: underline;

	border: 0;

}



#footer-sub-menu span {

	font: 22px 'chaparral-pro', Georgia, "Times New Roman", Times, serif;

}



#footer-sub-menu .selected {



}

#footer-menu .selected a, #footer-sub-menu .selected a {

	text-decoration: underline;

	border: 0;

}

#footer-menu a {
	font-weight: normal;
}

#footer .heading {
	font: 17px 'chaparral-pro', Georgia, "Times New Roman", Times, serif;
}

#footer .copyright {
	position:absolute;
	bottom:-105px;
}

#footer .footer-social {
	margin-top: 25px;
	position:relative;
}

#footer .facebook-icon, #footer .twitter-icon, #footer .linkedin-icon, #footer .vimeo-icon {
    text-indent:-9999px;
    width: 27px;
    height:26px;
    display:block;
    float:left;
    margin-right:8px;
}

#footer .facebook-icon {
    background: url('/app/Templates/images/social/footer/fb-icon.png') no-repeat;
}

#footer .facebook-icon:hover {
    background: url('/app/Templates/images/social/footer/fb-icon-over.png') no-repeat;
}

#footer .twitter-icon {
    background: url('/app/Templates/images/social/footer/twitter-icon.png') no-repeat;
}

#footer .twitter-icon:hover {
    background: url('/app/Templates/images/social/footer/twitter-icon-over.png') no-repeat;
}

#footer .linkedin-icon {
    background: url('/app/Templates/images/social/footer/linkedin-icon.png') no-repeat;
}

#footer .linkedin-icon:hover {
    background: url('/app/Templates/images/social/footer/linkedin-icon-over.png') no-repeat;
}

#footer .vimeo-icon {
    background: url('/app/Templates/images/social/footer/vimeo-icon.png') no-repeat;
}

#footer .vimeo-icon:hover {
    background: url('/app/Templates/images/social/footer/vimeo-icon-over.png') no-repeat;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

