/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	HEADER Tags
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#header-container {
	width: 976px;
	margin: 0 auto;
	position: relative;
	z-index: 9999;

}

#header {
	width: 976px;
	height: 107px;
	/*background-image: url('');
	background-repeat: no-repeat;
	background-position: center top;*/
}

#header-logo {
	width: 263px;
	height: 61px;
	left: 20px;
	position: absolute;
	top: 29px;
}

.header-logo-background {
    background-image: url("../../images/header/header-logo.png");
    width: 263px;
    height: 61px;
    min-width: 200px; 
}

#header-logo, #header-logo * {
	z-index: 1;
}

/*#header-logo img {
	float: right;
	top: 36px;
	right: 50px;
}*/

#top-menu-dummy-div {
	width: 48%;
	height: 34px;
	position: absolute;
	top: 0;
	left: 52%;
	background-color: #aaaaac;
}

.headerSocialMedia {
	margin-left: 5px;
	margin-top: 5px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

