@charset "utf-8";
/* CSS Document */
/***************
	TOP MENU
****************/
#top-menu-container {
	width: 567px; /* 658px; with social icons*/
	height: 34px;
	background-color: #aaaaac;
	position: absolute;
	right: 0;
	top: 0;
	overflow: visible;
	z-index: 999;
}

#top-menu .menu-container a {
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 34px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 12px;
}

#top-menu .menu1 a:hover, #top-menu .menu-container .selected a, #top-menu .menu-container .subhover a {
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 34px;
	margin-left: 12px;
	text-decoration: none;
	border-bottom: 9px solid #717174;
	padding-bottom: 5px;
}

.menu1 {
	font-weight: bold;
	text-transform: uppercase;
}

.menu2 {
	border: none;
}

/****************
	Top Menu 2
*****************/

#menu-container {
	width: 976px;
	margin: 0 auto;
	position: relative;
}

#menu {
	position: absolute;
	right: 18px;
	top: 58px;
	height: 34px;
	width: 538px;
	background-color: #717174;
	padding-left: 10px;
}

.menu1 {
	cursor: pointer;
}

/*****************
    INNER MENU
*****************/

.menu-container {
	float: left;
}

.menu-container {
	/* background-image: css('background-image','url(../media/images/common/background-menu.png)'); */
	background-repeat: no-repeat;
	background-position: bottom right;

}

#menu-container .menu1 {
	/*margin: 0 10px 18px 5px;
	height: 45px;*/
	padding: 0 4px;
	float: right;
}

#menu-container .menu1 a {
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 34px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 4px 5px 4px;
}

.menu1Open:hover a, .menu-container .selected a, .subhover a {
	border-bottom: 9px solid #aaaaac;
	padding-bottom: 5px;
}

#menu-container .menu1:hover, #menu-container div.selected {
	margin-bottom: 0;
}

/*****************
	SUBMENU
*****************/

#top-menu .submenu a {
	color: #000;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	text-transform: capitalize;
}

#top-menu .submenu a:hover {
	color: #fff;
}

#top-menu .menu1Open:hover a, #top-menu .menu-container .selected a, #top-menu .subhover a {
	border-bottom: 9px solid #717174;
}


.submenu {
	position: absolute;
	left: 4px;
	top: 39px;
	border-top: 2px solid #FFF;
	width: 230px;
	white-space: nowrap;
	display: none;
	background-color: #aaaaac;
}
#top-menu .submenu {
	left: 12px;
}

.submenu a {
	color: #000000;
	display: block;
	padding: 10px 10px;
	text-decoration: none;
}

.menu2:hover {
	background-color: #717174;
	text-decoration: none;
}

#top-menu .menu2 a {
	line-height: inherit;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 12px;
	margin-left: 0;
}

.submenu a, .submenu .selected, #menu .selected .submenu a {
	border: 0;
}

#menu .submenu .menu2 {
	width: 225px;
}
#menu .submenu .menu2 div  {
	width: 225px;
	white-space: pre-wrap;
}


#top-menu .submenu .menu2:hover, #top-menu .submenu .selected, #top-menu .submenu .selected div, #top-menu .submenu .selected a {
	border: none;
	padding: 0;
	text-transform: capitalize;
	font-size: 12px;
}

/****************************
    INDIVIDUAL MENU COLORS
*****************************/
#personal_home #top-menu .menu1 a:hover, #personal_home #top-menu .menu1 a:focus, #personal_home #top-menu .menu-container .selected a, #personal_home #top-menu .menu-container .subhover a {
	border-bottom: 9px solid #8c0c04;
}

#personal_home .submenu a:hover {
	background-color: #8c0c04;
}

#personal_home .menu1 a:hover, #personal_home .menu1 .selected a {
	border-bottom: 9px solid #8c0c04;
}

/*

*/


.subsite-selector, .subsite-selector .subsite-dropdown, .subsite-selector .subsite-options, .subsite-selector .subsite-options div {
	width: 160px;
	line-height: 34px;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}

.subsite-selector {
	position: absolute;
	z-index: 99;
	cursor: pointer;
	left: 4px;
}

.subsite-selector .subsite-dropdown {
	background: #8c0c04;
	height: 34px;
}

.subsite-selector .subsite-label {
	margin-left: 10px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.subsite-selector .subsite-dropdown img {
	position: absolute;
	top: 5px;
	right: 10px;
}

.subsite-selector .subsite-options {
	position: absolute;
	top: 34px;
	display: none;
	padding-top: 4px;
}

.subsite-selector .subsite-options div {
	height: 34px;
	font-size: 12px;
	color: #303030;
	padding-left: 10px;
	background: #aaaaac;
	width: 150px;
}

.subsite-selector .subsite-options div:hover {
	color: #fff;
	background: #717174;
}

#footer-sub-menu .menu1 {
	font-weight: normal;
	text-transform: capitalize;
}
#footer-sub-menu .menu1:hover, #footer-sub-menu .menu1:hover a {
	border: 0;
}

#footer-sub-menu .menu1:hover a{
	text-decoration: underline;
}

#footer-menu .submenu, #footer-sub-menu .submenu {
	visibility: hidden;
}

#menu .menu2 a {
	border:  0;
}