/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	PAGE Tags
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#header-container, #menu-container, #billboard-container, #page-container, #content-container, #footer-container {
	width: 100%;
	margin: 0 auto;
	clear: both;
}

#header, #menu, #page, #content {
	margin: 0 auto;
	width: 976px;
}

.push {
	height: 101px;
	width: 600px;
}

#scroll-btt {
	bottom: 400px;
	margin-left: -40px;
	position: fixed;
	display:none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#radial_container {
	left: -55px;
	position: absolute;
	text-align: center;
	top: 3px;
	display:   none;
}


#radial_container .my_class {
	/*font-size:1.5em;
	color:#abc;
	background-color:#def;
	-moz-border-radius:30px;
	width:30px;
	height:30px;
	-webkit-border-radius:30px;*/
}


#radial_container .radial_div_item {
	/*background:none;
	height:30px;
	padding:10px;
	color:#234;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	cursor:pointer;*/
}
#radial_container .radial_div_item.active {
	background-color:#511; color:white;
	padding: 10px;
	-moz-border-radius:40px;
	z-index:100;
}
