/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	MENU STUFF
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.hide {
	display: none;
}

.show {
	display: block;
	margin-top: 8px;
	margin-left: 2px;
}

.show_2 {
	display: block;
}

.menu1 {
	text-align: center;
}

.menu1, .menu1open {
	float: left;
	font-size: 16px;
	/*line-height: 26px;*/
	font-family: Arial, Helvetica, sans-serif;
	background: #000;
	border: 1px solid #000;
	padding: 0;
}

.menu1 a, .menu1open a, #menu-container .menu1 a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	display: block;
	background: none;
}

.menu1open, .menu1:hover, .menu1 a:hover, .menu1open a, .menu1open a:hover, .selected a, .subhover a, #menu-container .menu1:hover a, #menu-container div.selected a, #menu-container .menu1:hover, #menu-container div.selected {
	background-color: #fff;
	color: #000;
}

#menu-container .menu1:hover, #menu-container div.selected {
	height: auto;
}

#menu-container .menu1 a, #menu-container .menu1 {
	line-height: 1.6em;
	height: auto;
	width: auto;
}

.submenu {
	background-color: #666;
	position: absolute;
	top: 32px;
	display: none;
}

.menu2 {
	background-color: #000000;
	border: 1px solid #000000;
	margin: 2px;
	padding: 2px 10px;
}

.menu2 a:link, .menu2 a:active, .menu2 a:visited {
	color: #fff;
	text-decoration: none;
}

.menu2:hover, .menu2:hover a {
	background-color: #fff;
	color: #000;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
