@charset "utf-8";
/* CSS Document */

h1, h2 {
	color: #442C18;
}

#page-container {
	background: none;
}

#page-container, #page, #content-container, #content {
	height: 100%;
}

#content {
	height: 100%;
	margin: 0 auto;
	width: 926px;
	z-index: 3;
	margin: 0 auto;
	padding: 45px 10px 10px;
	width: 926px;
	z-index: 3;
	border: 1px solid #AAA;
}

#footer {
	display: none;
}

#preview {
	position: absolute;
	border: 1px solid #ccc;
	background: #333;
	padding: 5px;
	display: none;
	color: #fff;
}

.thumbnail {
	width: 90px;
	height: 60px;
	overflow: hidden;
	float: right;
	margin: 20px;
}

#header, #header-container {
	z-index: 998;
}