input, select {
	width: 300px;
}

label {
	width: 150px;
	text-align: right;
}

input, select, textarea {
	margin-bottom: 20px;
	padding: 2px 5px;
}

label {
	float: left;
	margin-right: 10px;
	text-align: right;
	width: 100px;
}

.entry-table {
	width: 700px;
}

.entry-field {
	width: 700px;
}

.form-buttons {
	float: right;
	margin-right: 13px;
}