#header-container, #header {
	margin: 0 auto;
}

#header {
	height: 155px;
	width: 961px;
	/*background-image: url(../../media/images/common/header/background-cms-header.jpg);*/
}

#header-logo {
	left: 10px;
	top: 50px;
	width: 392px;
	background-image: none;
}


#menu-container {
	background: #666;
	height: 34px;
	left: 0;
	position: absolute;
	top: 155px;
	width: 961px;
	z-index: 999;
}

#menu {
	margin: 3px auto;
	width: 956px;
	z-index: 999;
	height: auto;
}

#menu-container .menu1 {
	margin: 0 1px;
	padding: 0 10px;
}

#top-menu {
	background: #000;
	left: 780px;
	padding: 10px 20px;
	position: absolute;
	text-align: right;
	top: 0;
	width: 164px;
	z-index: 999;
	color: #fff;
}

#top-menu a {
	color: #fff;
}