/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	CART TAGS
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cart, .cart * {
	z-index: 9;
}

.cart table {
	margin-left: -24px;
	width: 666px;
}

.cart table thead {
	color: #fff;
	background-color: #442c18;
	text-align: center;
}

.cart table td {
	padding: 3px 10px;
}

.cart table thead td {
	line-height: 2em;
	font-family: 'CantarellBold', Georgia, "Times New Roman", Times, serif;
}

.cart table input {
	width: 200px;
}

.cart table .bordered {
	border-right: 2px solid #D8D7FF;
}

.cart table .quantity label {
	display: none;
}

.cart table .quantity input {
	width: 10px;
	margin: 0 auto;
	margin-top: -5px;
}

.cart table tbody td {
	vertical-align: top;
	padding-top: 15px;
}

.cart table .button {
	background-color: #442C18;
	color: #FFFFFF;
	font-size: 1.214em;
	line-height: 1.2em;
	margin: 0 auto;
	width: 11px;
}

.cart table .button, .cart table .button:hover {
	border: 0;
}

.cart .title {
	color: #442C18;
	float: right;
	margin-right: 50px;
	width: 148px;
}

.cart .example {
	color: #AAA;
	font-size: 0.857em;
}

.cart .cart-totals {
	text-align: right;
	text-transform: uppercase;
	font-weight: 700;
	color: #442c18;
}

.cart .thumbnail {
	float: left;
	margin-top: 0px;
}

.cart .cart-totals, .cart .checkout {
	float: right;
	margin-right: 0;
}

.remove {
	margin-left: 10px;
	position: absolute;
	margin-top: -4px;
	cursor: pointer;
	z-index: 10;
}

.remove .open {
	display: none;
}

.confirm-dialog .button {
	width: 255px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/