/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	CART TAGS
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.checkout .wrapper {
	float: left;
	width: 150px;
	text-align: right;
	margin: 3px 10px 20px 0;
}

iframe {
	border: 2px solid #C4B7E6;
	padding: 5px 0px 5px 5px;
}

.submit {
	/*float: right;*/
	border: 0;
	width: 167px;
	height: 55px;
}

label, input, select {
	vertical-align: middle;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/