/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	COMMON Tags
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.continue-shopping {
	width: 150px;
	float: left;
}

.tooltip {
	display: none;;
	overflow: visible;
	position: fixed;
}

.tooltip, .tooltip img {
	z-index: 9999999;
}

.tooltip-bordered {
	border: 2px solid #C4B7E6;
}

.enlarge {
	clear: both;
	cursor: pointer;
	display: block;
	margin-left: 0;
	margin-top: 10px;
	padding-top: 5px;
}

.enlarge .open {
	display: none;
}
