#page-nav, #prev-postings, #next-postings {
	float: left;
	vertical-align: middle;
}

#prev-postings, #next-postings {
	cursor: pointer;
	margin-top: 7px;
}

#prev-postings {
	margin-left: 0px;
}

#page-nav {
	margin: 10px 20px;
}

#page-nav a {
	text-decoration: none;
}

#page-nav a.selected, #page-nav a.hover {
	text-decoration: underline;
}

#posting-nav-container, #posting-nav {
	width: 646px;
	margin: 0 auto;
}

#posting-nav-container {
	margin-top: 0px;
}

#posting-nav {
	visibility: hidden;
}

#next-postings {
	float: right;
}

.page-nav-link {
	cursor: pointer;
}