/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	CART TAGS
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.category-link {
	margin: 5px 0;
	padding: 0 40px;
	height: 27px;
}

.category-link a {
	text-decoration: none;
	line-height: 27px;
}

.category-link:hover, .category-link-selected {
	background: url(../../../media/images/common/icon-flower.png) no-repeat left center;
}

.shop-box {
	float: left;
	width: 190px;
	margin-right: 14px;
	height: 320px;
	margin-bottom: 30px;
}

.shop-box input {
	width: 10px;
}

#cart-count {
	width: 20px;
}

.shop-box label {
	float: right;
	margin-right: 102px;
	margin-top: 3px;
}

.shop-box .button {
	clear: both;
}

.shop-box .thumbnail {
	width: 190px;
	height: 170px;
	overflow: hidden;
	cursor: pointer;
}

.shop-box p {
	margin: 10px 0;
}

.shop-box p span {
	color: #442c18;
	font-weight: bold;
}

.shop-box .thumbnail {
	margin: 5px 0;
}

.shop-box .button {
	margin-top: 10px;
}

.shop-filter {
	background-color: #f3f1d3;
	width: 600px;
	color: #442c18;
	font-weight: bold;
	z-index: 999;
	padding: 10px;
	margin-bottom: 20px;
}

.shop-filter p {
	margin-bottom: 10px;
}

.shop-filter label {
	margin-top: 7px;
}

.posting-nav, .posting-nav * {
	color: #442c18;
	z-index: 99;
}

.page-buttons img {
	vertical-align: middle;
}

.preview-dialog {
	display: none;
	background-color: #fff;
	border: 10px solid #fff;
}

.preview-dialog .close {
	background: url(../../../media/images/common/shop/dialog-close.png) no-repeat top center;
	position: absolute;
	width: 28px;
	height: 28px;
	top: 10px;
	right: 10px;
	z-index: 9;
	cursor: pointer;
}

.preview-dialog > div {
	background-color: #C4B7E6;
	color: #fff;
	padding: 3px 10px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/