.color-red {
	color: #DD1E2F;
}

.color-light-blue {
	color: #9EB4CC;
}

.color-dark-blue {
	color: #3E659A;
}

.color-light-grey {
	color: #CDCDCF;
}

.color-dark-grey {
	color: #5C5E60;
}

.bg-light-blue {
	background-color: #9EB4CC;
}

.bg-dark-blue {
	background-color: #3E659A;
	color: #fff;
}

.bg-light-grey {
	background-color: #EDEDED;
}

.bg-dark-grey {
	background-color: #5C5E60;
}

.r-border-light {
	border-right: 1px solid #9EB4CC;
}

.r-border-dark {
	border-right: 2px solid #9EB4CC /*#5C5E60;*/
}

.t-border-red {
	border-top: 7px solid #DD1E2F;
}

.b-border-red {
	border-bottom: 7px solid #DD1E2F;
}
