.clear-float {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.spacer {
	height: 10px;
	clear: both;
}

.no-height {
	height: 0;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.editing-margins {
	margin: 13px auto;
}

.valign-middle {
	vertical-align: middle;
}

.negativeZ {
	z-index: -1;
}