.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.no-underline, .no-underline:hover {
	text-decoration: none;
}
