.accordionWrapper{
	display:inline-block; 
	background-color:#fff; 
	width: 422px;
	height: 323px;
	overflow: hidden;
}
#accordion, #accordion * {
	z-index: 99;
}
#accordion .set {
	border-top: 1px solid #fff;
}
#accordion .set > img{
	vertical-align:top; 
	border:0; 
	margin:0; 
	padding:0;
	width: 29px;
	height:39px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
}
.accordionWrapper div{
	display:inline; 
	float:left; 
	margin:auto;
}
.accordionWrapper div.title{
	cursor:pointer;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	height: 23px;
	line-height: 23px;
	text-transform: uppercase;
	width: 345px;
	padding-left: 10px;
	
}
.accordionWrapper div.content{
	display:none;
	width: 367px;
	height: 155px;
	background-color: #f0f1f1;
	padding: 20px 10px 10px 45px;
}
.accordionWrapper div.content p{
	margin-bottom: 10px;
}


.set1{background-color:#ecb01b;}
.set2{background-color:#0797a2;}
.set3{background-color:#51469c;}
.set4{background-color:#7ba955;}
.set5{background-color:#eb7d36;}
.set6{background-color:#105ca3;}

#accordion {

}