
.slidegal-controls .next, .slidegal-controls .prev {
	position: absolute;
	width: 28px;
	height: 28px;
	cursor: pointer;
	background-image: url("../images/arrow-left.png");
	/*background-position: 50px center;*/
	background-repeat: no-repeat;
	display: none;
}

.slidegal-controls .next {
	background-image: url("../images/arrow-right.png");
}

.slidegal-controls .caption {
	background-color: #FFFFFF;
	left: 0;
	padding: 2px 10px;
	top: 300px;
	width: 500px;
	position: absolute;
}

.slidegal {
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}

.slidegal img {
	width: 640px;
	height: 220px;
}

.slidegal-controls {
	position: absolute;
	margin-left: 0;
	z-index: 9999;
	display: none;
}

.slidegal .caption {
	visibility: hidden;
}

.slidegal a {
	padding: 0;
	margin: 0;
}

.slidegal-nav {
	position: absolute;
	right: 30px;
	top: 10px;
	display: none;
}

.slidegal-nav .pager {
	float: left;
	margin: 0 3px;
	width: 6px;
	height: 6px;
	background-color: #666;
	cursor: pointer;
}

.slidegal-nav .activeSlide {
	background-color: #fbcb09;
}