div, a {
	margin  : 0;
	padding : 0;
}

.wrapper-div {
	width   : 100%;
	margin  : 0 auto;
	height  : 100%;
	padding : 0;
}

.center-div {
	padding : 0;
	margin  : 0 auto;
	width   : 640px;
	height  : 100%;
}

.clear-float-both {
	clear : both;
}

.clear-float-left {
	clear : left;
}

.clear-float-right {
	clear : right;
}

.float-left {
	float : left;
}

.float-right {
	float : right;
}

/*********************************/

.direct-contact {
	left     : 55px;
	position : absolute;
	top      : 350px;
	width    : 530px;
}

.map {
	margin-top : 10px;
}

.details {
	font-family : 'ChaparralProRegular', Georgia, Helvetica, serif;
	font-size   : 30px;
	left        : 123px;
	line-height : 30px;
	position    : absolute;
	top         : 479px;
}

.video {
	padding-left: 21px;
	padding-top: 30px;
}

.details, .details a {
	color : #404041;
}

.details p {
	margin-top : 48px;
}

.details span {
	color : #8c0c04;
}

.insur {
	height   : 107px;
	overflow : hidden;
}

.insur div {
	text-align : center;
	padding    : 10px 0;
}

.insur a {
	font-family : 'ChaparralProRegular', Georgia, Helvetica, serif;
	font-size   : 40px;
	line-height : 40px;
	color       : #fff;
}

.home-insur {
	background : url('../img/button-home-insur.png') no-repeat;
	width      : 321px;
}
.home-insur div {
	padding-left: 20px;
}
.auto-insur {
	background : url('../img/button-auto-insur.png') no-repeat;
	width      : 319px;
}
.auto-insur div {
	padding-right: 20px;
}

#my-popup.my-driving-discount {
    padding:6px !important;
    border-top:0;
    border-bottom:0;
    max-width:526px !important;
    height:910px;
}

button.mfp-close {
    background: url("/app/Plugins/Dialog/images/close-red.png") no-repeat !important;
    height:45px;
    width:45px;
}

#my-popup.my-driving-discount .content { padding:30px 20px 14px 20px; height:878px; display:block;
background:url('/app/Templates/images/bkifg-mobile-bg.jpg') no-repeat;
}
#my-popup.my-driving-discount p { font-family: 'proxima-nova' !important; color:#272727; font-size:38px; line-height:44px; }
#my-popup.my-driving-discount p strong { font-weight: 600; }
#my-popup.my-driving-discount p.small { font-size: 26px !important; line-height:34px; margin-top:16px; }

#my-popup .logo-wrap {
	position:absolute;
	bottom: 50px;
	left: 45px;
}

#my-popup .logo-wrap img {
	margin-right:30px;
}

.btn-red {
    color:#fff;
    background:#890d04;
    width:100%;
    margin-top:20px;
    text-align:center;
    padding:18px 0;
    font-family: "proxima-nova" !important;
    text-transform:uppercase;
    border-radius: 6px;
    display:block;
    text-decoration:none !important;
    font-size:26px;
}

.btn-red:hover {
    background: #a60d04;
}

.header-logo-background-mobile {
    background-image: url("../img/logo.png");
    width: 640px;
    height: 135px;
    min-width: 640px; 
}