a:hover, .content-section p strong a:hover {

	color: #d05f14;

}


#contentLeft .faq-link:hover, #contentLeft .faq-close:hover {
	color: #d05f14;
}

.related-links .selected {
	color: #d05f14;
}

h2 {

	color: #d05f14;

}

.button:hover {
	background-color: #d05f14;
}

.dialog .close {
	background: url("/app/Plugins/Dialog/images/close-orange.png") no-repeat;
}

#menu .menu1Open:hover a, #menu .menu-container, #menu .selected a, #menu .subhover a {

	border-color: #d05f14;

}

#menu .submenu a {

	color: #fff;

}

#menu .menu2 {

	background-color: #707074;

}

#menu .menu2:hover {

	background-color: #d05f14;

}

#contentRight .content-section {

	background: none;

	border: 0;

}

#menu {

	width: 590px;

}

#menu .submenu {

}

#contentRight .content-section {

	background: none;

}

.subsite-selector .subsite-dropdown {

	background: #d05f14;

}

.billboard-content-container {

	background-color: #d05f14;

}

li {

	color: #d05f14;

}

#top-menu-container {
	width: 544px;
}


#watch-video:hover {
	background : url(/app/Templates/images/video/watch-orange.png) no-repeat center;
}

#contentRight #save-and-combine {
	background    : url("/app/Templates/images/content-right-bg.jpg") repeat-x scroll left bottom transparent;
	border-bottom : 9px solid #d05f14;
}
