a:hover, .content-section p strong a:hover {

	color: #003479;

}


#contentLeft .faq-link:hover, #contentLeft .faq-close:hover {
	color: #003479;
}

.related-links .selected {
	color: #003479;
}



h2 {

	color: #003479;

}


.button:hover {
	background-color: #003479;
}

.dialog .close {
	background: url("/app/Plugins/Dialog/images/close-blue.png") no-repeat;
}

#menu .menu1Open:hover a, #menu .menu-container, #menu .selected a, #menu .subhover a {

	border-color: #003479;

}



#menu .submenu a {

	color: #fff;

}



#menu .menu2 {

	background-color: #707074;

}



#menu .menu2:hover {

	background-color: #003479;

}



#contentRight .content-section {

	background: none;

	border: 0;

}



#menu {

	width: 375px;

}



/*#menu .submenu {

	width: 230px;

}*/



#contentRight .content-section {

	background: none;

}



.subsite-selector .subsite-dropdown {

	background: #003479;

}



.billboard-content-container {

	background-color: #003479;

}



li {

	color: #003479;

}

#top-menu-container {
	width: 544px;
}


#watch-video:hover {
	background : url(/app/Templates/images/video/watch-blue.png) no-repeat center;
}

#contentRight  #save-and-combine {
	background    : url("/app/Templates/images/content-right-bg.jpg") repeat-x scroll left bottom transparent;
	border-bottom : 9px solid #003479;
}
