/* ======== homepage ======== */

.contentRight .content-section {
	background: url(/app/Templates/images/content-right-bg.jpg) bottom left repeat-x;
	border-bottom: 9px solid #8b0b04;
}


#home-box-container {
	/*bottom: 190px;*/
	top: 340px;
	height: 154px;
	left: 0;
	position: absolute;
	width: 976px;
	z-index: 4;
}

#home-box-container div {
	float: right;
	/*	width:287px;*/
	/*height: 143px;*/
	height: 97px;
	padding-left: 34px;
}

.grad-box {
  background: url("/app/Templates/images/home-grad-box-bg.jpg") repeat-x scroll left bottom transparent;
  border-bottom: 9px solid #6A6D75;
  bottom: 10px;
  height: 103px;
  left: 50px;
  position: absolute;
  right: 0;
  width: 926px;
  z-index: 3;
}

#call-out-container {
	position: relative;
	/*top: 110px;*/
	padding: 0 20px;
}

#callout-copy {
	margin-top: 10px;
	margin-left: 25px;
}

.callout-title {
  color: #3D3D3D;
  font-family: 'chaparral-pro',Georgia,"Times New Roman",Times,serif;
  font-size: 36px;
  margin-bottom: 10px;
}

.callout-content, .callout-content p {
	font: 21px 'chaparral-pro', Georgia, "Times New Roman", Times, serif;
	color: #3d3d3d;
	margin: 0;
}

.callout-content .related-links {
	color: #8b0b04;
	font-weight: bold;
}

.callout-buttons {
  position: absolute;
  right: 19px;
  top: 7px;
  z-index: 9999;
}

.quote-b-list {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}

.quote-b-list li a.home-quote {
	display: block;
	width: 73px;
	height: 73px;
	background: url(/app/Templates/images/quote-home-sprite.png) left 0 no-repeat;
}

.quote-b-list li a.home-quote:hover {
	background: url(/app/Templates/images/quote-home-sprite.png) left -75px no-repeat;
}

.quote-b-list li a.travel-quote {
	display: block;
	width: 74px;
	height: 74px;
	background: url(/app/Templates/images/quote-travel-sprite.png) left 0 no-repeat;
}

.quote-b-list li a.travel-quote:hover { 
	background: url(/app/Templates/images/quote-travel-sprite.png) left -75px no-repeat;
}

.quote-b-list li {
	list-style-type: none;
	float: left;
	padding: 0 15px;
}

.quote-b-list li a.auto-quote {
	display: block;
	width: 73px;
	height: 73px;
	overflow: hidden;
	background: url(/app/Templates/images/quote-auto-sprite.png) left 0 no-repeat;
}

.quote-b-list li a.auto-quote:hover {
	background: url(/app/Templates/images/quote-auto-sprite.png) left -75px no-repeat;
}

.home-auto-img {
	margin: 0 auto;
	padding: 0 0 30px 0;
	display: block;
}

a.red-over:hover {
	color: #8b0b04;
}

/* ======== HIDDEN VIDEO ======== */
#white-screen {
	display: none;
	position: fixed;
	background-color: #FFF;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

#video-player-container {
	width: 976px;
	margin: 0 auto;
	position: relative;
	z-index: 99999;
	display: none;
}

#video-player {
	position: absolute;
	left: 20px;
	top: 107px;
	z-index: 99999;
}

.close-vid {
	background: url(/app/Templates/images/video-close-button.png) top left no-repeat;
	width: 43px;
	height: 43px;
	display: block;
	position: absolute;
	top: 90px;
	left: 710px;
	z-index: 999999;
}

.driving-discount-program {
	background: url('/app/Templates/images/my-driving-discount.jpg');
	width:805px;
	height:526px;
	display:block;
	border: 6px solid #fff;
	padding:30px;
	box-sizing:border-box;
	padding-top:42px;
}

.btn-blue {
    color:#fff;
    background:#16a9c0;
    width:100%;
    margin-top:20px;
    text-align:center;
    padding:10px 0;
    font-family: "proxima-nova" !important;
    text-transform:uppercase;
    border-radius: 6px;
    display:block;
    font-size:16px;
}

.btn-blue:hover {
    color:#fff;
    text-decoration:none;
    background: #18bdd6;
}

.driving-discount-program p {
	font-family: "proxima-nova" !important;
}


#auto-popup .logo-wrap {
	position:absolute;
	bottom:20px;
	right: 55px;
}

.logo-wrap img {
	margin-right:30px;
}



/* -------------------------------
		Dialog
	 ---------------------------- */

#bModal {
	background: #000;
  background: rgba(0,0,0,0.8);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);}

#auto-popup {
	background: #fff;
	padding: 50px;
	border-top: 5px solid #8c0c04;
	border-bottom: 5px solid #8c0c04;
	left: 120px !important;
	width: 705px !important;}

	#auto-popup hr {
		height: 1px;
		background: #fff;
		outline: none;
		border: none;
		border-top: 2px solid #ccc;
		margin: 15px 0;}

	#auto-popup .heading {
		display: none;
		*visibility: hidden;
		height: 0px;}

	#auto-popup .close {
		left: auto !important;
		right: -22px !important;
		bottom: auto !important;
		top: -27px !important;}
	
	#auto-popup p {
        font-family: 'ChaparralProRegular' !important;
		font-size: 29px;
		line-height: 1.2em;
		color: #717174;}

	#auto-popup p b {
		font-weight: normal;
		font-size: 40px;}

	#auto-popup p img {
		float: right;
		margin: 0 0 10px 10px;}

	.slidegal-nav { right:96px !important;	}
