#menu {
	width: 538px;
}

#menu-container .menu1 {
	float: none;
}

#footer-sub-menu {
	float: none;
	margin-top: 115px;
}

#footer-menu {
	width: 630px;
}

.billboard-title, .short-title {
  margin-top: 35px;
}

.billboard-content-container, .billboard-content-container * {
	z-index: 999;
}

.subsite-selector .subsite-options {
	padding-top: 0;
}

#footer-container {
	height: 346px;
	overflow: hidden;
	background: url(/app/Templates/images/footer-container-bg.jpg) left center repeat-x;
}