h2 {

	color: #8c0c04;

}



#menu .menu1Open:hover a, #menu .menu-container, #menu .selected a, #menu .subhover a {

	border-color: #8c0c04;

}



#menu .submenu a {

	color: #fff;

}



#menu .menu2 {

	background-color: #707074;

}



#menu .menu2:hover {

	background-color: #8c0c04;

}



#menu {

	width: 515px;

}



.billboard-content-container {

	background-color: #8c0c04;

}

#top-menu-container {
	width: 544px;
}

#watch-video {
	background : url(/app/Templates/images/video/watch-red.png) no-repeat
}


.travel-sidebar a:hover img.hidden{
    display: block;
}

.travel-sidebar a:hover img:not(.hidden){
    display: none;
}