/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	FORM Tags
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.faqs .back-to-top a, .faqs .faq-close {
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;
}

.faqs .back-to-top a:hover, .faqs .faq-close:hover {
	text-decoration: underline;
}

.faqs .faq-link {
	color: #333;
	cursor: pointer;
	padding: 5px 0;
	text-decoration: underline; 
}

.faqs .faq-link:hover {
	text-decoration: underline;
}

.faqs .faq-content {
	display: none;
	padding: 5px 10px;
}

.faqs .faq-close {
	margin-top: 10px;
}