@charset "utf-8";
/* CSS Document */

.table-selection {
	float: left;
	cursor: pointer;
	background-color: #442c18; /* TODO: place images on the bg moving forward */
	width: 100%;
	height: 30px;
	color: #fff;
}


.table-selection .arrow {
	background: url(/web/media/images/common/shop/filter/arrow.png) no-repeat top center;
	width: 21px;
	height: 11px;
	position: absolute;
	z-index: 9999;
	top: 10px;
}

.table-selection-table {
	width: 100%;
	border: 0;
	position: absolute;
	display: none;
	background-color: #fff;
	top: 30px;
	z-index: 9999;
}

.table-selection-placeholder, .table-selection-table td {
	cursor: pointer;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 20px;
	padding: 5px 10px;
	width: 100%;
	background-color: #67533d;
	font-weight: normal;
}

.table-selection-placeholder {
	position: absolute;
	top: 5px;
	left: 8px;
	padding: 0;
	width: 100%;
	height: 20px;
	z-index: 999;
	background: none;
}

.table-selection-table td:hover {
	background-color: #c4b4e5;
}