/*----------------------------------------------------------------------------------------------------------------------------------------------------------------

	FORM Tags

----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

a .button, a:hover .button {

	text-decoration: none;

}

a:hover .button {

	color: #fff;

}

.button:hover {

	color: #fff;

	background-color: #8c0c04;

	/*border:  1px solid #e8e3a8;*/

}

input, select, option, textarea {

	font-size: 12px;

	line-height: 18px;

	border: 1px solid #3d3d3d;

	font-family: verdana, helvetica, serif;

	color: #3d3d3d;

	padding: 8px 10px;

	margin: 5px auto;

	width: 262px;

}

select {

	width: 265px;

	padding: 0 0 0 5px;

}

option {

	width: 235px;

}

option {

	border: 0;

}

.input-value {

	display: none;

}

.label-wrapper {

}

textarea {

	width: 583px;

	height: 85px;

	resize: none;

}

.entry-field {

	clear: both;

}

.button {

	background-color: #2f2f2e;

	color: #fff;

	cursor: pointer;

	font-family: 'chaparral-pro', Georgia, "Times New Roman", Times, serif;

	font-size: 2em;

	line-height: 1.5em;

	margin: 10px 0;

	padding: 2px 5px;

	text-align: center;

	/*text-transform: uppercase;*/

	width: 100px;

	/*border: 1px solid #2f2f2e;*/

	border: 0;

}

.please-note {
	position: absolute;
	right: 0;
	top: 115px;
	width: 221px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

