/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	HTML Tags
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

html, body {
	width: 100%;
}

body {
	background-color: #fff;
	background-image: url('');
	background-repeat: repeat-y;
	background-position: top center;
	width: 100%;
	line-height: 1.6em; 
}

a, .core-link {
	font-size: 12px;
	color: #3d3d3d;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #8c0c04;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'chaparral-pro', Georgia, "Times New Roman", Times, serif;
	color: #3d3d3d;
}

h1 {
	color: #FFF;
}

h2 {
	margin-bottom: 0.5em;
}

h3 {
	font-size: 18px;
	line-height: 1.5em;
}

ol, ul {
	margin-left: 15px;
	margin-bottom: 2em;
}

li span {
	color: #3D3D3D;
}

li {
	color: #8c0c04;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/