body {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	width: 100%;
	color: #000;
}

a:link, a:active, a:visited, .related-links, span.report-form-popup {
	color: #a2182e;
	cursor: pointer;
	text-decoration: underline;
}

a:hover {
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

td {
	padding: 2px 5px;
}

thead td {
	color: #fff;
	background-color: #000;
}

h1, h2 {
	font-family: 'NobileRegular', Georgia, "Times New Roman", Times, serif;
}

h1 {
	color: #a2182e;
	font-size: 20px;
	line-height: 30px;
}

h2 {
	font-size: 15px;
	line-height: 22px;
}

.float-image-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
}

table p {
	margin-bottom: 0;
}
